*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt

npm-debug.log*
node_modules/
tmp/
temp/

.sourcemaps/
.sass-cache/
.tmp/
hooks/

platforms/
plugins/
plugins/android.json
plugins/ios.json
www/

$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules
bower_componets

*.sublime*

psd
thumb
sketch

logs
*.log
*.eng

node_modules
build
out
dist
tmp

package-lock.json